<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing question answer</h1>

  <%= render "form", question_answer: @question_answer %>

  <%= link_to "Show this question answer", @question_answer, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to question answers", question_answers_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
