<h1>Editing respondent</h1>

<%= render "form", respondent: @respondent %>

<br>

<div>
  <%= link_to "Show this respondent", @respondent %> |
  <%= link_to "Back to respondents", respondents_path %>
</div>
